<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
		<h1>Inserisci una nuova categoria!</h1>
		<form
		th:object="${categories}"
		method="POST">
		
			<label for="nameCategory"> titolo dell'immagine</label>
			<input type="text" name="nameCategory" th:field="*{nameCategory}">
			<div th:if="${#fields.hasErrors('nameCategory')}">
				<ul>
					<li th:each="err : ${#fields.errors('nameCategory')}" th:text="${err}">
						
					</li>
				</ul>
			</div>
			<br />
			<hr>
			<br />
			<!--./END ####################### -->
			
			<button type="submit">CREA</button>
			
			<button>
				<a  href="/categories/list"> HOME</a>
			</button>
		</form>
</body>
</html>