<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
		<h1>edita la foto!</h1>
		<form
		th:object="${photo}"
		method="POST">
		
			<label for="title"> titolo dell'immagine</label>
			<input type="text" name="title" th:field="*{title}">
			<div th:if="${#fields.hasErrors('title')}">
				<ul>
					<li th:each="err : ${#fields.errors('title')}" th:text="${err}">
						
					</li>
				</ul>
			</div>
			<br />
			<hr>
			<br />
			<!--./END ####################### -->
			
			<label for="overview"> descrizione immagine</label>
			<input type="text" name="overview" th:field="*{overview}">
			<div th:if="${#fields.hasErrors('overview')}">
				<ul>
					<li th:each="err : ${#fields.errors('overview')}" th:text="${err}">
						
					</li>
				</ul>
			</div>
			<br />
			<hr>
			<br />
			<!--./END ####################### -->
			
			<label for="url"> l'url dell'immagine</label>
			<input type="text" name="url" th:field="*{url}">
			<div th:if="${#fields.hasErrors('url')}">
				<ul>
					<li th:each="err : ${#fields.errors('url')}" th:text="${err}">
						
					</li>
				</ul>
			</div>
			<br />
			<hr>
			<br />
			<!--./END ####################### -->
			
			<label for="visible"> Categorie</label>
			<div th:each="category : ${categories}">
				<input type="checkbox" 
						th:id="'category-' + ${category.id}" th:value="${category.id}"
						th:field="${photo.categories}" >
				<label th:for="'category-' + ${category.id}">[[${category.nameCategory}]]</label>
			</div>
			<br />
			<hr>
			<br />
			<!--./END ####################### -->
			
			<label for="visible"> vuoi che sia subito visibile l'immagine</label>
			<input type="checkbox" name="visible" th:field="*{visible}" checked>
			<div th:if="${#fields.hasErrors('visible')}">
				<ul>
					<li th:each="err : ${#fields.errors('visible')}" th:text="${err}">
						
					</li>
				</ul>
			</div>
			<br />
			<hr>
			<br />
			<!--./END ####################### -->
			
			<button type="submit">EDITA</button>
			
			<button>
				<a  href="/home/list"> HOME</a>
			</button>
		</form>
</body>
</html>